{{ define "base" }} 
<!DOCTYPE html>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="/assets/js/jquery-2.1.1.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/functions.js"></script>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
	Eos Sharer
      </a>
     <ul class="nav navbar-nav">

        <li><a href="#" data-toggle="modal" data-target="#AboutModal"> About</a></li>
     </ul>
    </div>
  </div>
</nav>
<div class="row">
  <div class="container">

{{ template "contents" . }}
  </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="AboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">About Eos Sharer</h4>
      </div>
      <div class="modal-body">
	<p>Eos Sharer &copy; 2014 Eos Web Development</p>
	<h4>Created by</h4>
	<ul class="list-group">
	  <li class="list-group-item">Juan Francisco Gim&eacute;nez Silva</li>
	  <li class="list-group-item">Germ&aacute;n Gim&eacute;nez Silva</li>

	</ul>

      </div>
      <div class="modal-footer">
	<p>This software is released under the terms of the <a href="http://www.gnu.org/copyleft/gpl.html"> GNU General Public License v3</a></p>
      </div>
    </div>
  </div>
</div>


</body>
</html>
{{ end }}
